@"
# Virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.ipynb

# Ignorar imágenes
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.bmp
# VSCode settings
.vscode/

# Datos
/data/
/Corrosion Condition State Classification/

# Logs
*.log
"@ > .gitignore
