########################################
# 1. Entornos virtuales
########################################
venv/
pcvenvtesis38/
.env/
.venv/

########################################
# 2. Archivos Python generados
########################################
__pycache__/
*.py[cod]
*$py.class
*.pyo

########################################
# 3. Notebooks
########################################
.ipynb_checkpoints/
*.ipynb

########################################
# 4. Datos binarios y modelos
########################################
# Imágenes – evita avisos CR/LFgit remote -v

*.png
*.jpg
*.jpeg
*.gif
*.svg
*.bmp
# Pesos y grandes binarios
*.h5
*.ckpt
*.pth
*.pt
*.onnx

########################################
# 5. IDEs y editores
########################################
.vscode/
.idea/

########################################
# 6. Logs y dumps
########################################
*.log
*.out
*.err

########################################
# 7. Datasets locales
########################################
# Coloca la ruta exacta si quieres dejar fuera todo el dataset original
/data/
Corrosion Condition State Classification/
corrosion images/

########################################
# 8. Sistema operativo
########################################
.DS_Store
Thumbs.db
# Experimentos y modelos generados
callbacks/
models/
*.xlsx
*_history.csv
*.h5
########################################
# 9. Archivos de historiales internos
########################################
.lh/
.history/

entrenamiento_log_*
*_delaunay.txt
venv_delaunay/
*.pth
# Logs y entornos locales
entrenamiento_log_*.txt
*_delaunay.txt
venv_delaunay/
*.pth

# Logs y entornos locales
entrenamiento_log_*.txt
*_delaunay.txt
venv_delaunay/
*.pth
entrenamiento_log_*.txt
*.log
